<footer>
<table border="1" width="100%" bgcolor="black" style="color:black">
<thead>
<tr>
<th colspan="3" bgcolor="yellow">Data Statistik Yusuf Tutorial</th>
</tr>
</thead>
<tbody>
<tr>
<td bgcolor="black"><iframe src="https://ghbtns.com/github-btn.html?user=yusuftutorial&repo=home&type=star&count=true" frameborder="0" scrolling="0" width="120" height="20"></iframe></td>
<td bgcolor="black"><iframe src="https://ghbtns.com/github-btn.html?user=yusuftutorial&repo=home&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="120" height="20"></iframe></td>
</tr>
<tr>
<td bgcolor="black"><iframe src="https://ghbtns.com/github-btn.html?user=yusuftutorial&repo=home&type=fork&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe></td>
<td bgcolor="black"><iframe src="https://ghbtns.com/github-btn.html?user=yusuftutorial&type=follow&count=true" frameborder="0" scrolling="0" width="220px" height="20px"></iframe></td>
</tr>
<tr>
<td colspan="3"><a href="https://info.flagcounter.com/OGJF"><img src="https://s01.flagcounter.com/count2/OGJF/bg_000000/txt_FFFFFF/border_3C8531/columns_5/maxflags_10/viewers_0/labels_0/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a></td>
</tr>
</tbody>
</table>
            <div class="row">
                <div class="col-lg-12 footer">
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%-d %-b %Y"  }} <br />
<p><img src="{{ "images/company_logo.png" }}" alt="Company logo"/></p>
                </div>
            </div>
</footer>