<footer>
            <div class="row">
                <div class="col-lg-12 footer">
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
<p><img src="{{ "images/company_logo.png" }}" alt="Company logo"/></p>
                </div>
            </div>
</footer>

<!-- salin code pre blog post -->
<script type='text/javascript'>
const copyButtonLabel = &quot;Salin Code&quot;;

// use a class selector if available
let blocks = document.querySelectorAll(&quot;pre&quot;);

blocks.forEach((block) =&gt; {
  // only add button if browser supports Clipboard API
  if (navigator.clipboard) {
    let button = document.createElement(&quot;button&quot;);

    button.innerText = copyButtonLabel;
    block.appendChild(button);

    button.addEventListener(&quot;click&quot;, async () =&gt; {
      await copyCode(block, button);
    });
  }
});

async function copyCode(block, button) {
  let code = block.querySelector(&quot;code&quot;);
  let text = code.innerText;

  await navigator.clipboard.writeText(text);

  // visual feedback that task is completed
  button.innerText = &quot;Sukses Menyalin&quot;;

  setTimeout(() =&gt; {
    button.innerText = copyButtonLabel;
  }, 700);
}
</script>

<link href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/agate.min.css' rel='stylesheet'/>
<script src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js'/>
<script>hljs.initHighlightingOnLoad();</script>
