<footer>
<a href="https://info.flagcounter.com/OGJF"><img src="https://s01.flagcounter.com/count2/OGJF/bg_000000/txt_FFFFFF/border_3C8531/columns_5/maxflags_10/viewers_0/labels_0/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
            <div class="row">
                <div class="col-lg-12 footer">
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%-d %-b %Y"  }} <br />
<p><img src="{{ "images/company_logo.png" }}" alt="Company logo"/></p>
                </div>
            </div>
</footer>