<div id="share-button">
<p>Share : </p>
<a href="whatsapp://send?text={{ page.title }}%20{{ site.url }}{{ page.url }}" rel="nofollow" style="background:#4dc247;" target="_blank"><i class="fa fa-whatsapp"></i></a>
<a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ page.title }} (by: @yusuftutorial.xyz) " rel="nofollow" style="background:#4099ff;" target="_blank"><i class="fa fa-twitter"></i></a>
<a href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" style="background:#3b5998;" target="_blank"><i class="fa fa-facebook"></i></a>
<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}&amp;title={{ page.title }}&amp;summary={{ page.title }}" rel="nofollow" style="background:#2554BF;" target="_blank"><i class="fa fa-linkedin"></i></a>
<a href="https://telegram.me/share/url?url={{ site.url }}{{ page.url }}&amp;text={{ page.title }}" rel="nofollow" style="background: #32afed;" target="_blank" title="Share to Telegram"><i class="fa fa-telegram"></i></a>
</div>