---
layout: default
---

<div class="post-header">
   <h1 class="post-title-main">{{ page.title }}</h1>
</div>

{% if page.simple_map == true %}

<script>
    $(document).ready ( function(){
        $('.box{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% elsif page.complex_map == true %}

<script>
    $(document).ready ( function(){
        $('.modalButton{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% endif %}

<div class="post-content">

   {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
   {% endif %}

    {% unless page.toc == false %}
    {% include toc.html %}
    {% endunless %}

    {% if page.gh-repo %}
        {% assign gh_split =  page.gh-repo | split:'/'  %}
        {% assign gh_user =  gh_split[0]  %}
        {% assign gh_repo =  gh_split[1]  %}

        <div id="header-gh-btns">
          {% if page.gh-badge.size > 0 %}
            {% for badge in page.gh-badge %}
              {% case badge %}
                {% when 'star'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user=yusuftutorial&repo=home&type=star&count=true" frameborder="0" scrolling="0" width="120" height="20"></iframe>
                {% when 'watch'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user=yusuftutorial&repo=home&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="120" height="20"></iframe>
                {% when 'fork'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user=yusuftutorial&repo=home&type=fork&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'follow'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user=yusuftutorial&type=follow&count=true" frameborder="0" scrolling="0" width="220px" height="20px"></iframe>
              {% endcase %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

    {% if site.github_editme_path %}

    <a target="_blank" rel="noopener" href="https://github.com/{{site.github_editme_path}}{{page.path}}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit Halaman Ini</a>

    {% endif %}

   {{content}}

    <div class="tags">
        {% if page.tags != null %}
        <b>Label: </b>
        {% assign projectTags = site.data.tags.allowed-tags %}
        {% for tag in page.tags %}
        {% if projectTags contains tag %}
        <a href="{{ "tag-" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

{% if page.comments %}
{% include komentar.html %}
{% endif %}

{% include donasi.html %}

</div>

{{site.data.alerts.hr_shaded}}

{% include footer.html %}

{% comment %} Copyright 2021 Google LLC {% endcomment %}
